.conheadtextone{
    justify-self: center;
    font-size: 25px;color: rgb(240, 67, 67);
}
.conheadtexttwo{
    justify-self: center;
    font-size: 65px;color: black;
}
.contactus{
    width: 100%;
    height: 70vh;
    display: grid;grid-template-columns: 1fr 1fr;
}
.contactform{
    padding: 10px 30px 30px 30px;
}
.contactinfo{
    display: flex;
    flex-direction: column;padding: 20px 0 0 30px;
}
